[Unit]
Description=Lootmore Backend
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/lootmore-backend
ExecStart=/usr/bin/docker-compose up
ExecStop=/usr/bin/docker-compose down
Restart=always

[Install]
WantedBy=multi-user.target
